[2021-08-12 06:41] nvliyuan opened #1 "update commits from the original repo"
need to update commits from the original repo of v21.06

[2021-08-12 07:29] nvliyuan opened #2 "need add git ignore"
need add git ignore

[2021-08-12 07:37] #2 closed, assigned to nvliyuan

[2021-08-18 06:30] nvliyuan opened #6 "Need Signoff checks"
Need Signoff checks

[2021-08-18 06:32] nvliyuan commented on #1
done

[2021-08-18 06:32] #1 closed

[2021-08-18 07:00] nvliyuan opened #7 "docs mvn build path error"
docs mvn build path error

[2021-08-18 07:13] nvliyuan commented on #6
fix by #8

[2021-08-18 07:13] #6 closed

[2021-08-18 08:32] nvliyuan commented on #7
fix by #10 in v21.06 and #11 in v21.08

[2021-08-18 08:32] #7 closed

[2021-08-25 00:28] vonodiripsa opened #14 "sample_xgboost_apps-0.2.2-jar-with-dependencies.jar doesn't have cuda11.2 with libxgboost4j.so"
**Describe the bug**
XGBoost spark training job failed on cuda 11.2 because it cannot find libxgboost4j.so

**Steps/Code to reproduce bug**
If you follow https://github.com/NVIDIA/spark-xgboost-examples/blob/spark-3/getting-started-guides/on-prem-cluster/standalone-scala.md
and create sample_xgboost_apps-0.2.2-jar-with-dependencies.jar (from https://github.com/NVIDIA/spark-rapids-examples/blob/bra

[2021-08-25 01:53] viadea commented on #14
Example error:
[code]

And it is probably due to the jar only has `lib/cuda11/libxgboost4j.so`:
[code]

[2021-08-25 02:57] GaryShen2008 commented on #14
@vonodiripsa
Hi Alexander,
I can't reproduce the issue in my local environment.
Could you please provide the full log?
It should print some details when loading the library.

[2021-08-27 05:24] nvliyuan opened #15 "Mortgage ETL demo produce no output"
**Describe the bug**
GPU run’s ETL will produce 0 row

[2021-08-30 09:16] GaryShen2008 commented on #15
@nvliyuan Can we first update the parameters used in our examples to run GpuCSVScan to avoid this issue?

[2021-08-30 09:18] nvliyuan commented on #15
Sure, will draft a pr.

[2021-08-31 05:37] nvliyuan commented on #15
fix it by add configs #16

[2021-08-31 05:37] #15 closed

[2021-08-31 05:51] nvliyuan opened #17 "Need to update Mortgage ETL demo running on GPU docs"
**Describe the bug**
There is no Mortgage ETL demo running on GPU in the kubernetes.md or yarn-python.md or yarn-scala.md docs

[2021-08-31 18:09] vonodiripsa commented on #14
Gary, this is the file:
https://nvidia-my.sharepoint.com/:u:/p/aspiridonov/EbXjWlxMwIRLlQDoRwnB7bIBWGrJp0TpYRxwac40tYT2nQ?e=Hkqmfy

[2021-09-01 00:22] vonodiripsa commented on #14
I've checked it again and it works with 21.08. Probably the jar was 21.06 not 21.08

[2021-09-01 04:57] GaryShen2008 commented on #14
Yes, it uses xgboost 1.3.0-0.1.0 from branch-21.06.

Since branch 21.08 works, close this issue.

[2021-09-01 04:57] #14 closed

[2021-09-21 15:58] tristers-at-square opened #21 "Illegal Argument Exception: features does not exist..."
**Describe the bug**
When trying to train an XGBoost classifier with GPU's, it produces the following error:

IllegalArgumentException: features does not exist

**Steps/Code to reproduce bug**
Calling the fit method as follows:

val xgbClassifier = new XGBoostClassifier(paramMap)
  .setLabelCol(labelName)
  .setFeaturesCols(featureCols)
xgbClassifier.fit(trainDF)
Expected behavior
I expected the m

[2021-09-21 21:09] viadea commented on #21
@tristers-at-square  What is the CUDA runtime you are using?
[code]

[2021-09-22 17:58] tristers-at-square commented on #21
@viadea It's Cuda 11.2

My Spark job seems to correctly use GPU's when it's doing pre-processing on the data. However, when it gets to the XGBoost training step, it complains about the "features" column being missing. It is my understanding that we shouldn't need to use a VectorAssembler when training with GPU's so I am not sure why that error message is being produced.

[2021-09-23 05:12] wbo4958 commented on #21
@tristers-at-square, Looks like the configuration `"spark.plugins": "com.nvidia.spark.SQLPlugin"` didn't take effect. @viadea Have we tested xgboost on Dataproc?

[2021-09-23 05:31] viadea commented on #21
@tristers-at-square  I see the rapids.sh is still shown 1.3.0 xgboost jar so does it mean you modified it to use 1.4.2 jar in the init scripts?
[code]

[2021-09-23 15:50] tristers-at-square commented on #21
@viadea I tried both the default configuration in the rapids.sh script and I also tried updating to 1.4.2, but had the same issues either way. Currently, I have the following in my Spark jars classpath on DataProc:

<img width="502" alt="Screen Shot 2021-09-23 at 11 49 12 AM" src="https://user-images.githubusercontent.com/82467782/134540833-decbfe8c-0175-4f3d-bae2-bcbcf3ed2bd5.png">

[2021-09-23 15:54] tristers-at-square commented on #21
@wbo4958 I am setting the "spark.plugins": "com.nvidia.spark.SQLPlugin" at runtime like so:

[code]

[2021-09-24 07:18] wjxiz1992 opened #22 "[Documentation] The Toree installation doc is out of date"
The document of [Apache Toree installation](https://github.com/NVIDIA/spark-rapids-examples/blob/branch-21.08/docs/get-started/xgboost-examples/notebook/toree.md#get-started-with-xgboost4j-spark-with-apache-toree-jupyter-notebook) is out of date, latest Toree v0.5.0-incubating-rc4 can be installed successfully.

[2021-09-24 09:30] wbo4958 commented on #21
@tristers-at-square  Could you give your application sketch and how to set the parameters. then we can repro it. Thx in advance

[2021-09-24 16:51] tristers-at-square commented on #21
@wbo4958 Sure. For testing purposes, you can simulate the dataset I was using like so (in Python):

[code]

Similarly, here's the essentials of the program I was running (nothing fancy):

[code]

[2021-09-24 23:46] wbo4958 commented on #21
Were you using the notebook for the testing? if that so, the SparkSession may be started up by Dataproc before you explicitly called
[code]

If that so, the config `config("spark.plugins", "com.nvidia.spark.SQLPlugin")` would not take effect.

One quick suggestion: Could you move the config `config("spark.plugins", "com.nvidia.spark.SQLPlugin")` into the initial script before staring the cluster?

[2021-09-25 04:49] firestarman commented on #21
You can verify whether the config is taking effect by adding `spark.conf.get("spark.plugins")` just after the creation of the SparkSession.

[2021-09-27 02:27] nvliyuan commented on #21
@tristers-at-square if it is a notebook, can you please try this command to start?
[code]

[2021-09-27 11:26] nvliyuan opened #25 "Nvtabular jars update"
**Describe the bug**
Nvtabular jar need to change from v21.06  to v21.10 when spark-rapids v21.10 release

[2021-09-27 11:28] nvliyuan commented on #22
closed by #23

[2021-09-27 11:28] #22 closed

[2021-09-27 18:30] tristers-at-square commented on #21
@firestarman Yep, I added a logging statement like so:

[code]

And I see the correct expected output in DataProc:

<img width="440" alt="Screen Shot 2021-09-27 at 2 28 07 PM" src="https://user-images.githubusercontent.com/82467782/134965265-3a77b468-1f8d-444e-baef-dd80ef736852.png">

Still getting the same error about "features" not being present though.

[2021-09-27 18:32] tristers-at-square commented on #21
I tried that as well, but am getting the same error about features not being present.

[2021-09-27 18:34] tristers-at-square commented on #21
@nvliyuan I was running it programmatically through the Google Cloud SDK and I also tried in the Zeppelin notebook. I tried your suggestion by running it in the script through the --conf flags, but am getting the same errors.

As a sanity check, I tried running the mortgage example on the notebook and it failed with the "features" not present error. However, then I tried running the mortgage examp

[2021-09-28 01:45] wbo4958 commented on #21
@tristers-at-square Thx for the information. So in the case of notebook, seems the "spark.plugins" is not taken effect, which can narrow down the issue.

@nvliyuan Could you help on this? try to run mortgage example on notebook?

[2021-10-04 11:10] nvliyuan commented on #21
@tristers-at-square
Hi, do you still have any error while running examples in GCP in GPU?
I tried to run an taxi xgboost demo on GCP, and it works well, here are my steps:

create the GCP cluster with Env:
master: n1-standard-4
worker: n1-standard-16(2 nodes)

cudf-21.08.2-cuda11.jar
rapids-4-spark_2.12-21.08.0.jar
xgboost4j_3.0-1.4.2-0.1.0.jar
xgboost4j-spark_3.0-1.4.2-0.1.0.jar

start a notebook

[2021-10-11 22:19] wbo4958 commented on #21
Oops, I overlook your code. Good catch. Honestly, we didn't test it in Pipeline. I will check that and give some suggestion.

[2021-10-14 17:22] viadea commented on #21
@wbo4958 is the fix in 1.4.2-0.2.0?

[2021-10-14 21:59] wbo4958 commented on #21
@viadea  Yes. it is

[2021-10-15 18:58] vonodiripsa opened #29 "Cannot run CPU based version of Rapids XGBoost examples of Taxi notebooks"
**Describe the bug**
If you follow comments from GPU examples of NY Taxi notebooks (scala, python) from https://github.com/NVIDIA/spark-rapids-examples/tree/branch-21.08/examples/taxi/notebooks
The notebooks are always failing.
For GPU/CPU comparison we need to have a working version on the notebooks

**Steps/Code to reproduce bug**
Take a notebook from https://github.com/NVIDIA/spark-rapids-examp

[2021-10-16 00:35] GaryShen2008 commented on #29
@wbo4958 Could you help to verify the CPU code of Taxi?

[2021-10-17 22:07] vonodiripsa commented on #29
I am attaching my notebook which is failing in xgbRegressor.fit(trainSe
[XGBoostRegressionTaxiCPU.zip](https://github.com/NVIDIA/spark-rapids-examples/files/7360948/XGBoostRegressionTaxiCPU.zip)
t)

[2021-10-18 20:01] vonodiripsa commented on #29
Sorry, I took old version. I am attaching the correct notebook.
[XGBoostClassificationTaxiCPU.zip](https://github.com/NVIDIA/spark-rapids-examples/files/7368145/XGBoostClassificationTaxiCPU.zip)
 This is the error:

java.lang.IllegalArgumentException: features does not exist. Available: vendorID, passengerCount, tripDistance, pickupLongitude, pickupLatitude, rateCodeID, storeAndFwdFlag, dropoffLon

[2021-10-18 23:07] wbo4958 commented on #29
Hi @vonodiripsa, Since you were trying to train by CPU, so you should not use "setFeaturesCols" API, instead, you should follow the CPU way, pls find here https://xgboost.readthedocs.io/en/latest/jvm/xgboost4j_spark_tutorial.html#build-an-ml-application-with-xgboost4j-spark

[2021-10-19 03:04] vonodiripsa commented on #29
@wbo4958 sorry, I don't understand. I am not using "setFeaturesCols" API (check my XGBoostClassificationTaxiCPU.zip). I am following notebook guidance how to run it on CPU. Do you have it running on CPU?

[2021-10-19 05:29] wbo4958 commented on #29
@vonodiripsa pls check these code carefully

CPU version reqires an extra step before fitting data to classifier, using `VectorAssembler` to assemble all feature columns into one column. The following code snip shows how to do the vectorizing.

[code]

Fortunately `VectorAssembler` is not needed for GPU version. Just fit the loaded data directly to XGBoostClassifier.

[2021-10-20 17:13] vonodiripsa commented on #29
@wbo4958 You probably thinking that it is in python, It is scala:

trainSet = Vectorize(trainSet, featureCols, labelName) failed with

error: reassignment to val
       trainSet = Vectorize(trainSet, featureNames, labelColName)

If I use
       val trainSetOut = Vectorize(trainSet, featureNames, labelColName) then

xgbClassifier.fit(trainSetOut) failed with:

java.lang.IllegalArgumentException: re

[2021-10-21 05:15] vonodiripsa commented on #29
@wbo4958 Now the error after
defined object Vectorize
trainSet1: org.apache.spark.sql.DataFrame = [features: vector, fareAmount: float]
evalSet1: org.apache.spark.sql.DataFrame = [features: vector, fareAmount: float]
transSet1: org.apache.spark.sql.DataFrame = [features: vector, fareAmount: float]

val (model, _) = Benchmark.time("train") {
  xgbRegressor.fit(trainSet1)
}

org.apache.spark.sql.Ana

[2021-10-21 05:34] wbo4958 commented on #29
@vonodiripsa I don't know where you get the note from, but it's not the correct one. Could you pls follow up https://github.com/NVIDIA/spark-xgboost-examples/blob/spark-3/examples/notebooks/scala/taxi-gpu.ipynb

[2021-10-21 05:42] vonodiripsa commented on #29
@wbo4958 Please check the issue description it has the location. Is it possible to create working CPU version of the notebook?

[2021-10-21 07:45] GaryShen2008 opened #35 "Don't need examples/taxi/notebooks/python/Taxi_ETL.ipynb"
**Describe the bug**
We already have the Taxi ETL by using Spark .
This file is an old one using cuDF.
We can remove it.

[2021-10-21 08:21] #35 closed

[2021-10-22 02:51] nvliyuan opened #37 "Update preparing_datasets.md"
Since we don't need examples/taxi/notebooks/python/Taxi_ETL.ipynb anymore, we should update preparing_datasets.md.

[2021-10-22 07:04] nvliyuan opened #38 "scala notebook fail with 2108 plugin, need to target to 2110"
scala notebook run with v21.08 plugin will fail with exception:
ClassNotFoundException: com.nvidia.spark.rapids.ColumnarRdd, [see bug](https://github.com/NVIDIA/spark-rapids/issues/3601).
we should target to v21.10

[2021-10-23 00:47] vonodiripsa commented on #29
It works with taxi-small dataset. On Monday I will try the notebook against transformed dataset (after https://github.com/NVIDIA/spark-rapids-examples/blob/branch-21.08/examples/taxi/notebooks/python/Taxi_ETL.ipynb). If it will work we could close the issue.

[2021-10-25 04:22] nvliyuan opened #39 "Need to declare jdk8 is recommended while setting up the spark cluster"
for the post v21.08 plugin version, it would fail with the no-such-method exception if we set up spark cluster with jdk11 while running scala notebook.
[code]
so need to note that jdk8 is recommended.

[2021-10-26 02:56] nvliyuan opened #42 "Need to add python&scala ETL notebook for taxi demo"
Need to add a CPU version xgboost notebook for taxi demo

[2021-10-26 06:44] nvliyuan opened #43 "need to update scala notebook kernel to spylon"
need to use spylon kernel instead of toree, so we don't need to spend a lot of time to download the toree source code and build.

[2021-10-28 08:04] nvliyuan opened #44 "the cpu version micro-benchmarks can have a higher tuned params"
try to launch more executors to have a better performance

[2021-10-30 03:16] vonodiripsa commented on #29
It is fine with me, because I was just doing time comparison.
At the same time I've noticed that GPU version is not returning the same results like CPU. But I think, it is another issue and this one could be closed.

[2021-11-01 01:53] wbo4958 commented on #29
Thx @vonodiripsa, Is there other issue you have reported for the different result from CPU and GPU?

[2021-11-04 06:18] nvliyuan commented on #38
close this as #41 merged

[2021-11-04 06:18] #38 closed

[2021-11-04 06:21] nvliyuan commented on #37
close as #34 merged

[2021-11-04 06:21] #37 closed

[2021-11-04 06:33] nvliyuan commented on #25
invalid issue, since nvtablar benchmark is not related to the spark-rapids plugin, so close it.

[2021-11-04 06:33] #25 closed

[2021-11-04 06:35] nvliyuan commented on #21
thanks @wbo4958 for root cause the issue, so @tristers-at-square can I close this issue?

[2021-11-04 06:36] nvliyuan commented on #39
close since #41 merged

[2021-11-04 06:36] #39 closed

[2021-11-04 07:14] wbo4958 commented on #29
Let's close this issue

[2021-11-04 07:14] #29 closed

[2021-11-04 07:38] nvliyuan opened #45 "invalid download link"
invalid download link in https://github.com/NVIDIA/spark-rapids-examples/blob/branch-21.10/docs/get-started/xgboost-examples/prepare-package-data/preparation-python.md

[2021-11-04 07:44] nvliyuan commented on #45
need to update MortgageETL.ipynb/preparing_datasets.md/preparation-python.md/preparation-scala.md   docs url to https://docs.rapids.ai/datasets/mortgage-data

[2021-11-04 07:50] nvliyuan commented on #45
fix in #46

[2021-11-04 15:18] tristers-at-square commented on #21
Yep, thanks!

[2021-11-05 02:00] nvliyuan commented on #45
close since #46 merged

[2021-11-05 02:00] #45 closed

[2021-11-08 07:33] #21 closed

[2021-12-02 10:05] nvliyuan commented on #17
add the scala ETL notebook in #54

[2021-12-02 10:07] nvliyuan opened #56 "link error in guide doc"
need to add AWS EMR getting started doc and fixed linked error

[2021-12-03 10:51] nvliyuan commented on #17
fixed in #57

[2021-12-15 06:25] wjxiz1992 opened #61 "Create branch-22.02 for PCA nightly pipeline"
Due to the recent API change in PCA in branch-22.02, there're some code modification in https://github.com/NVIDIA/spark-rapids-examples/pull/59.
We need a 22.02 branch to run the nightly test against PCA 22.02 version code.

[2021-12-15 09:16] nvliyuan commented on #61
updated

[2021-12-15 09:17] nvliyuan commented on #17
close

[2021-12-15 09:17] #17 closed

[2021-12-15 09:17] nvliyuan commented on #42
close

[2021-12-15 09:17] #42 closed

[2021-12-15 14:54] #61 closed

[2021-12-16 01:08] GaryShen2008 opened #65 "A typo in ec2.md"
**Describe the bug**
A typo in ec2.md,
https://github.com/NVIDIA/spark-rapids-examples/blob/branch-21.12/docs/get-started/xgboost-examples/csp/aws/ec2.md#step-41-edit-spark-defualtconf

defualtconf => defaultconf

[2021-12-16 01:23] GaryShen2008 opened #66 "Need to enable auto-merge between dev branches."
**Describe the bug**
We should enable the auto-merge between branch-21.12 and branch-22.02.
And keep it in the later dev branches.

[2021-12-31 03:02] nvliyuan commented on #65
closed since #73 merged

[2021-12-31 03:02] #65 closed

[2022-01-10 02:58] nvliyuan opened #79 "need to cherry pick databricks updated docs from #64 to v22.02"
need to cherry pick databricks updated docs from  #64 to v22.02

[2022-01-10 09:02] nvliyuan opened #82 "we need to add gcp guide doc"
we need to add gcp guide doc

[2022-01-14 06:59] #79 closed

[2022-01-14 07:00] #43 closed

[2022-01-14 09:34] wjxiz1992 opened #85 "This PCA example lacks of mean centering preprocess"
**Describe the bug**
The PCA example is producing different results for GPU and CPU run.
Reason is lacking of the mean centering op in cell[4] in https://github.com/NVIDIA/spark-rapids-examples/blob/branch-22.02/examples/Spark-cuML/pca/Spark_PCA_End_to_End.ipynb

I'll add missing code to resolve the problem.

[2022-01-18 03:03] #85 closed

[2022-01-20 10:02] wjxiz1992 opened #89 "Random data generation in PCA test case will cause OOM"
**Describe the bug**
`java.lang.OutOfMemoryError: Java heap space` is observed when generating random data for PCA test. Currently the data is generate at driver side. We should make this generation more rubust, like using RDD to generate mentioned here: https://stackoverflow.com/questions/55083170/efficient-way-to-generate-large-randomized-data-in-spark

[2022-02-07 01:17] GaryShen2008 opened #98 "Failed to build docker image of examples/Spark-cuML/pca/Dockerfile"
When building examples/Spark-cuML/pca/Dockerfile, I got below error.

PackagesNotFoundError: The following packages are not available from current channels:

  - cudf=21.12

Current channels:

  - https://conda.anaconda.org/rapidsai-nightly/linux-64
  - https://conda.anaconda.org/rapidsai-nightly/noarch
  - https://conda.anaconda.org/nvidia/linux-64
  - https://conda.anaconda.org/nvidia/noarch
  -

[2022-02-09 10:30] gerashegalov opened #100 "MIG-Support README.md has a broken link to Pluggable Device Framework"
In Section "Single MIG GPU per Container" there is a newline disassociating [] and ()

[2022-02-09 17:18] gerashegalov commented on #100
Fixed by #101

[2022-02-09 17:20] #100 closed

[2022-02-10 09:38] nvliyuan commented on #66
thanks for enabling the auto-merge

[2022-02-10 09:38] #66 closed

[2022-02-11 02:20] nvliyuan opened #104 "update databricks init script"
if there are already xgboost jars in dbfs, we will run into some issues, we need to remove them from the init script.

[2022-02-11 04:32] viadea commented on #104
As per doc: https://github.com/NVIDIA/spark-rapids-examples/blob/branch-22.02/docs/get-started/xgboost-examples/csp/databricks/databricks.md, we just need to add the 2 xgboost4j related jars through "Libraries" section.
However it will cause issue due to the conflict from existing 2 xgboost4j jars in databricks by default:

Just run below in notebook after init a Databricks 9.1ML GPU:
[code]

Belo

[2022-02-14 02:49] nvliyuan opened #105 "update cudf api from legacy to stable"
we should revert cudf apis links from legacy to stable. When we update the java API of cudf, the hyperlinks will break for some days, it is normal.

[2022-02-14 10:05] #105 closed

[2022-02-15 06:24] nvliyuan commented on #104
Thanks @chrisVietDev for the codes, since we have already overwritten the xbgoost jars in [init script](https://github.com/NVIDIA/spark-rapids-examples/blob/branch-22.02/docs/get-started/xgboost-examples/csp/databricks/generate-init-script.ipynb), it should also work, can you please try it?

[2022-02-16 06:31] nvliyuan commented on #104
verified the init script, it works, so close this issue

[2022-02-16 06:31] #104 closed

[2022-02-16 06:41] nvliyuan commented on #44
the params in the notebook is specific for nv-internal cluster(8 nodes Spark standalone cluster which with 128 CPU cores and 1 A100 GPU on each node.) it is not fit for different gcp cluster, after double check in the nv-internal cluster again and verified the params is optimal

[2022-02-16 06:41] nvliyuan commented on #44
closed since it is not true

[2022-02-16 22:48] viadea opened #108 "Xgboost training fails if input dataframe has vector type"
If the input dataframe has vector type inside, xgboost training fails with below error:

[code]

Below is a minimum reproduce notebook in scala
[code]

**Test env:**
Standalone Spark cluster
Spark 3.1.1
22.02 snapshot rapids-spark and cudf jars
xgboost4j_3.0-1.4.2-0.2.0.jar
xgboost4j-spark_3.0-1.4.2-0.2.0.jar

This is a customer blocker issue.

[2022-02-16 23:14] viadea commented on #108
I know vector is not supported by Spark RAPIDS plugin as of now.
Does it mean our xgboost jar can only work with supported data types?

[2022-02-16 23:45] raford commented on #108
A question in addition to the one from @viadea that deals with the same issue.

Assuming that covariates in vector format are not supported, what is the best way to process heterogeneous data in the feature space for model training using only PySpark?

That is, given covariates that can be either numeric or categorical, what, if any, preprocessing needs to be performed with the categorical feature

[2022-02-16 23:58] GaryShen2008 commented on #108
@wbo4958 Can you provide what data type is supported by XGBoost?
As I remember, only numeric data type can be supported.

To encode the categorical variables to numeric ones, we have one example code for Criteo dataset [here](https://github.com/NVIDIA/DeepLearningExamples/blob/master/TensorFlow2/Recommendation/DLRM/preproc/spark_data_utils.py).

[2022-02-21 03:26] wbo4958 commented on #108
XGBoost itself supports numeric types for features, labels, weights, margins.

For this issue, it is SparkRapids not supporting Vector Type. The operators like file scan will not run on GPU because of unsupported Vector Type, So when converting the Dataframe to RDD[Table], SparkRapids throws an exception.

The workaround is to drop the columns with the vector type.

[2022-02-22 05:29] #98 closed

[2022-02-24 08:15] nvliyuan opened #122 "update the guide links in top readme"
target the guide links in the top readme to dir rather than sub-readme.md

[2022-02-28 04:06] nvliyuan commented on #122
close this pr since #123 merged

[2022-02-28 04:06] #122 closed

[2022-03-10 06:46] nvliyuan opened #126 "update xgboost jar to the latest version next release"
since [pr](https://github.com/dmlc/xgboost/pull/7361) merged so we need to update xgboost4j jars to latest version

[2022-03-16 03:18] nvliyuan opened #127 "update cuSpatial guide doc more clearly"
Customers will get confused with the build steps, Prerequisites and Build in Docker are two different approaches to build the udf jar, not dependency.

[2022-03-16 08:22] nvliyuan opened #128 "undefined symbol issue in cuSpatial benchmark built by docker"
got some undefined symbol in dynamic library libspatialudfjni.so
[code]

[2022-03-17 01:48] nvliyuan commented on #128
@nvliyuan

[2022-03-17 02:08] nvliyuan commented on #128
@nvliyuan

[2022-03-17 02:28] nvliyuan commented on #128
@nvliyuan

[2022-03-17 02:42] nvliyuan commented on #128
@nvliyuan

[2022-03-17 03:36] GaryShen2008 commented on #128
To find the libcudf.so, it requires to add /databricks/conda/lib into LD_LIBRARY_PATH.
We have already installed libcudf.so in /databricks/conda/lib.

[2022-03-19 03:04] viadea opened #131 "CrossValidation fails with "Check failed: n_uniques == world (1 vs. 2) : Multiple processes within communication group running on same CUDA device is not supported""
CrossValidation fails with "Check failed: n_uniques == world (1 vs. 2) : Multiple processes within communication group running on same CUDA device is not supported"

**Env:**
Databricks 9.1ML GPU
2-nodes cluster
22.02GA jars
xgboost4j_3.0-1.4.2-0.2.0.jar
xgboost4j-spark_3.0-1.4.2-0.2.0.jar

**Sample code:**

[code]

The executor log shows below error and crashed.
[code]

[2022-03-19 18:41] viadea commented on #131
Hi Team,

Above reproduce is not reliable and will only be reproducible if there is executor(s) lost.
Below is a manual way to reliably mimic the executor lost scenario to reproduce the error.

1. Start a 2-nodes cluster(executor 0 & 1)
2. Running training job
On executor 0 node,  manually pause the executor process by(kill -STOP <PID of executor 0>).
After a while, Driver report executor 0 is los

[2022-03-21 01:33] #128 closed

[2022-03-21 07:10] nvliyuan commented on #131
@wbo4958 Could you please help with this error?

[2022-03-21 07:13] nvliyuan opened #133 "spark-rapids drop support for spark3.0.x version from v22.04"
we need to update the doc for not supported spark version,
 see https://github.com/NVIDIA/spark-rapids/issues/4915

[2022-03-22 05:36] viadea commented on #131
Update:
Setting spark.task.resource.gpu.amount to 1 can workaround this issue. Thanks @wbo4958

[2022-03-23 02:13] nvliyuan opened #134 "multi-process within communication group on the same CUDA device is not supported"
need to add a caveat for cross-validation job

[2022-03-28 10:50] nvliyuan commented on #127
closed since #132 merged

[2022-03-28 10:50] #127 closed

[2022-04-02 02:59] nvliyuan commented on #133
close since #137 merged

[2022-04-02 02:59] #133 closed

[2022-04-02 03:00] nvliyuan commented on #134
close since #137 merged

[2022-04-02 03:00] #134 closed

[2022-04-02 03:01] nvliyuan commented on #131
close since #137 merged

[2022-04-02 03:01] #131 closed

[2022-04-06 11:07] nvliyuan opened #144 "MortgageETL+XGBoost.ipynb notebook fail running on CPU"
we will hit exception because of schema mismatch
[code]

[2022-04-07 03:53] nvliyuan opened #146 "cuspatial on DB 10.4 runtime"
run cuspatial on DB 10.4 runtime by init script, not docker

[2022-04-07 13:47] nvliyuan commented on #144
<img width="1020" alt="image" src="https://user-images.githubusercontent.com/84758614/162213944-ad543bc7-f27b-47eb-87cd-111e8c03497c.png">

[2022-04-12 07:33] nvliyuan commented on #144
not a bug, should not apply schema to parquet

[2022-04-12 07:33] #144 closed

[2022-04-14 02:01] nvliyuan opened #150 "add broken links checker"
we need a git action to check broken links in this repo

[2022-04-29 04:24] nvliyuan opened #157 "customer churn demo need additional python codes support"
customer churn demo need additional python codes support ```import churn.augment ```

[2022-05-19 00:42] #150 closed

[2022-05-23 08:34] GaryShen2008 opened #162 "Change spark-xgboost examples to depend on dmlc/xgboost v1.6.1"
**Describe the bug**
Right now the xgboost examples depend on v1.4.0-0.3.0.

**Expected behavior**
Need to depend on dmlc/xgboost v1.6.1

[2022-05-23 09:58] nvliyuan commented on #157
close since #158 merged

[2022-05-23 09:58] #157 closed

[2022-05-26 22:21] viadea opened #166 "When reading perf/acq csv files, the reader should not use "option("header", true)""
When reading perf/acq csv files, the reader should not use "option("header", true)".

https://github.com/NVIDIA/spark-rapids-examples/blob/branch-22.06/examples/XGBoost-Examples/mortgage/notebooks/scala/mortgage-ETL.ipynb is one example.

[code]

The reason is the underline CSV files you downloaded does not have header.
If you do this, you end up reading one less row.

We need to set it false ever

[2022-05-31 03:55] #162 closed

[2022-06-01 01:42] nvliyuan opened #171 "update the init scripts for xgboost1.6.1"
since we update xgboost version to 1.6.1, we need to update CSPs init scripts and verify the impact on [spark-rapids](https://github.com/NVIDIA/spark-rapids) repo

[2022-06-01 23:14] viadea commented on #104
@nvliyuan  have we updated the gen-init scripts for this?thx

[2022-06-15 06:29] pxLi opened #176 "Update 22.06 examples to not rely on cudfjni"
**Describe the bug**
Most example code are still based on 22.04, it requires cudfjni as dep, e.g.
https://github.com/NVIDIA/spark-rapids-examples/blob/branch-22.06/examples/UDF-Examples/RAPIDS-accelerated-UDFs/pom.xml#L56-L61
https://github.com/NVIDIA/spark-rapids-examples/blob/branch-22.06/examples/UDF-Examples/Spark-cuSpatial/pom.xml#L43-L47

Need to walk through all pom files to check if we cou

[2022-06-22 09:14] #126 closed

[2022-06-22 09:15] #44 closed

[2022-06-23 03:14] pxLi commented on #176
thanks!

[2022-06-23 03:14] #176 closed

[2022-06-30 01:45] nvliyuan opened #194 "add init scripts for DB 11.0 ML runtime version"
add init scripts for DB 11.0 ML runtime version

[2022-07-08 03:28] nvliyuan opened #195 "I wish we can provide custom computing environments"
If we could provide an interactive notebook for customers to play immediately, it would be better.
We can use [Binder](https://mybinder.readthedocs.io/en/latest/) to create custom computing environments that can be shared and used by customers.
For example https://sedona.apache.org/setup/install-python/#setup-environment-variables

[2022-07-12 10:28] nvliyuan opened #196 "out-of-date configs in mortgage example"
we have some config which is true by default such as spark.rapids.sql.incompatibleOps.enabled since v2204, we should remove the duplicate settings

[2022-07-25 05:47] nvliyuan commented on #196
close since pr #191 merged

[2022-07-25 05:47] #196 closed

[2022-07-27 11:04] nvliyuan opened #199 "we need to add more comments for running xgboost scala notebooks on GCP"
we need to add more comments for running xgboost scala notebooks on GCP, add below configs in spark-default.conf, otherwise it will fail
[code]

[2022-08-24 18:29] rwlee opened #216 "`main` branch `XGBoost-Examples` build errors"
**Describe the bug**
Checking out the main branch and attempting to `mvn package` the `XGBoost-Examples` fails with the following errors:
[code]

**Steps/Code to reproduce bug**
[code]

**Expected behavior**
Build completes successfully

[2022-08-24 18:50] rwlee opened #217 "Example jars use inconsistent versioning"
**Describe the bug**
Example jars use version numbers that are inconsistent with each other and do not reflect the branch or spark-rapids plugin version they are based on. This makes jars hard to track and makes written example code unpredictable/hard to use.

branch-22.08 generates the following jars:
`yarn-gpu-mig-plugin-1.0.0.jar`
`rapids-4-spark-udf-examples_2.12-22.08.0-SNAPSHOT.jar`
`sample_

[2022-08-24 18:52] rwlee commented on #217
The XGBoost taxi jars also use `0.2.3` versioning number

[2022-08-24 21:07] rwlee opened #218 "Multiple documents link to outdated static links"
**Describe the bug**
Documents, examples, scripts, and jar repository links are largely out of sync -- leads to inconsistent examples and hard to follow instructions when trying to run with the latest functionality.

`grep -E -r "22\.02|22\.04|22\.06" .` ran at the base of a clean `branch-22.08` repository

[code]

[2022-08-24 21:10] rwlee commented on #218
Some of these issues are deeper issues requiring more complete resolutions.
For example, `spark-rapids-examples/examples/ML+DL-Examples/Spark-cuML/pca/README.md` contains a link to a maven repository that does not have a version `22.04` or above.

[2022-08-26 11:15] mtsol opened #219 "Unable to Call Rapids UDF"
Hi everyone, I am new to Rapids and might be my question will be dump to you, but I cannot find any example to call evaluateColumnar function of RapidsUDF interface from any spark statement, can any of you guide me?

[2022-08-26 19:48] gerashegalov commented on #219
From the user perspective it's a regular UDF  `function` in Spark. Once registered it can be used in Spark SQL [expressions](2) on top of another input expression / column, for example, `function(a)`

RAPIDS Accelerator will call [evaluateColumnar](1) when the UDF is [marked with RapidsUDF](3) interface

[1]: https://github.com/NVIDIA/spark-rapids/blob/8d6f6f5cc115e44d3b6afcdf85f4207f35912a69/sql-

[2022-08-28 09:55] mtsol commented on #219
@gerashegalov thanks for the response, can you tell, if I want to add some custom implementation which is not available in rapids, how an that be configured?

[2022-08-28 17:52] gerashegalov commented on #219
Hi @mtsol, please take a look at [FAQ](https://nvidia.github.io/spark-rapids/docs/FAQ.html#how-can-i-run-custom-expressionsudfs-on-the-gpu) and the [UDF doc](https://nvidia.github.io/spark-rapids/docs/additional-functionality/rapids-udfs.html)

[2022-08-30 10:10] mtsol commented on #219
My classes are:
package main.scala.sample

import ai.rapids.cudf.ColumnVector
import com.nvidia.spark.RapidsUDF

class MultiplyWithGPU extends Serializable with RapidsUDF {
  def apply(s: Seq[Any]): String = {
    (s(0).toString.toDouble * s(0).toString.toDouble).toString
  }
  override def evaluateColumnar(args: ColumnVector*): ColumnVector = {

    args.head.mul(args.head)

  }
}

And
package ma

[2022-08-30 10:18] GaryShen2008 commented on #219
@firestarman Can you help here? Seems a simple use case.

[2022-08-30 12:32] mtsol opened #220 "Add Custom Implementation to cudf ColumnVector class"
I want to add my own implementation to ai.rapids.cudf.ColumnVector so that I can accelerate my custom tasks which are not supported by Rapids by default. Please, guide how I can do that.

[2022-08-30 12:43] GaryShen2008 commented on #220
Hi @mtsol, it seems you want to implement a native function to run on GPU.
Have you checked our examples https://github.com/NVIDIA/spark-rapids-examples/tree/branch-22.08/examples/UDF-Examples/RAPIDS-accelerated-UDFs? There're 2 samples of writing native code(cuda code).

The native code is in
https://github.com/NVIDIA/spark-rapids-examples/tree/branch-22.08/examples/UDF-Examples/RAPIDS-accelerate

[2022-08-31 06:08] nvliyuan commented on #216
sorry for the late response, the [pr185](https://github.com/NVIDIA/spark-rapids-examples/pull/185) is to fix the issue, once we merged branch-2208 to main, this issue would be fix on main branch

[2022-08-31 06:11] nvliyuan commented on #217
yes, it is a good idea to keep each demo version number consistent, will draft a pr to update

[2022-08-31 07:50] #199 closed

[2022-08-31 09:22] nvliyuan commented on #216
since branch-2208 is merged to main, can you please check if it works?

[2022-08-31 10:13] nvliyuan commented on #218
yes, there are multi dependencies in this repo and it may be confusing.

- Since the last [PCA release](https://repo1.maven.org/maven2/com/nvidia/rapids-4-spark-ml_2.12/) is v22.02, so we don't update in the following release;
- and since dmlc1.6.1 don't support XGBoost python api, so if customers want to test with python code, we refer to v22.04 for the old codes;
- all v22.06 should be updated t

[2022-09-01 01:59] firestarman commented on #219
Hi @mtsol,

FIrst, to be a Scala UDF, you need to let your class extends from a `Function[T, R]`,
e.g.
[code]
then try the following UDF registration.
[code]

[2022-09-01 07:18] mtsol commented on #219
[logsSpark.txt](https://github.com/NVIDIA/spark-rapids-examples/files/9467673/logsSpark.txt)

[2022-09-05 05:18] mtsol commented on #219
Hi, @gerashegalov , @firestarman , @GaryShen2008 can someone help me out with the issue, I have implemented the simple classes and run the application, it gets stuck while calculating DAG in spark. I am using a docker based environment for gpu based implementation. Here is a file to logs. [logsGPU.txt](https://github.com/NVIDIA/spark-rapids-examples/files/9468581/logsGPU.txt)

[2022-09-05 07:59] firestarman commented on #219
@mtsol  Could you share your UDF jar? I can try it locally, or can you try the app with spark-shell instead of spark-submit ?

[2022-09-05 08:08] firestarman commented on #219
One more thing, if you set master via `--master` in the command, maybe you do not need to set it again in your app main via the second parameter.

[2022-09-05 12:07] mtsol commented on #219
[SparkGPUTesting.zip](https://github.com/NVIDIA/spark-rapids-examples/files/9489524/SparkGPUTesting.zip)

[code.zip](https://github.com/NVIDIA/spark-rapids-examples/files/9489535/code.zip)

@firestarman I am sharing the code and jar as well, can you run on your local and suggest any solution.

[2022-09-06 06:24] firestarman commented on #219
I can run it successfully with the below command and code.
[code]

[code]
Output:
[code]

[2022-09-06 12:32] mtsol commented on #219
@firestarman @gerashegalov @GaryShen2008 do you guys have any dockerfile or image that can be used to execute spark jobs on gpus instead of setup the env on bare metal?

[2022-09-06 12:44] mtsol commented on #219
scala> abc.show(10)
22/09/06 12:40:24 WARN GpuOverrides:
!Exec <CollectLimitExec> cannot run on GPU because the Exec CollectLimitExec has been disabled, and is disabled by default because Collect Limit replacement can be slower on the GPU, if huge number of rows in a batch it could help by limiting the number of rows transferred from GPU to CPU. Set spark.rapids.sql.exec.CollectLimitExec to true i

[2022-09-07 08:06] nvliyuan opened #228 "we need to verify xboost performance after update the default configs"
we need to verify xboost performance after update the default configs, verify #226

[2022-09-19 05:28] firestarman commented on #219
That's fine. We just need to make sure the ScalaUDF ran on GPU by the below line.
[code]

[2022-10-13 09:24] GMYL opened #233 "Error Unknown CMake command "CPMFindPackage" when using mvn clean package -Pudf-native-examples"
When using mvn clean package -Pudf-native-examples an error Unknown CMake command "CPMFindPackage" occurs. How to solve it?
Version: 22.06
Action: mvn clean package -Pudf-native-examples
Description: The environment is an intranet environment, where rapids-cmake and RAPIDS.cmake are downloaded manually, and the CMakeLists.txt file in the cpp directory is modified. The main modifications are as fol

[2022-10-13 14:07] GaryShen2008 commented on #233
I tried once on my local machine, the building failed but didn't reproduce the same failure.

@GMYL
Seems you used [INFO] [exec] -- The CUDA compiler identification is NVIDIA 11.0.194.
I think the cudf 22.06 requires 11.5 according to https://github.com/rapidsai/cudf/blob/branch-22.06/CONTRIBUTING.md#general-requirements.

Can you use the docker container from the dockerfile?

[2022-10-13 14:58] GMYL commented on #233
Yes, the current version of CUDA for the server environment is really 11.0+.
Currently my server is running spark-rapids-22.06 with CUDA 11.0+, spark-sql and some simple examples of rapids udf.
Now that I want to use RAPIDS-accelerated-UDFs, at first I just ran the MVN package for the RAPIDS-accelerated-UDFs project, running the StringWordCount.java example in the jar package where the executor fa

[2022-10-14 08:53] GMYL commented on #233
@GaryShen2008
Reference link https://github.com/rapidsai/cudf/blob/branch-22.06/CONTRIBUTING.md#general-requirements
Re-detect and upgrade the software version on the server,
Now the software version information on the server is as follows
Compilers:
gcc version 10.1.0
nvcc version 11.5.119
cmake version 3.24.2

CUDA/GPU:
CUDA 11.5
NVIDIA driver 495.29.05
GPU Tesla T4

Executing mvn clean package

[2022-10-14 12:53] GaryShen2008 commented on #233
@GMYL Can you try to use the docker build?
Just follow up the instructions [here](https://github.com/NVIDIA/spark-rapids-examples/tree/branch-22.10/examples/UDF-Examples/RAPIDS-accelerated-UDFs#creating-a-libcudf-build-environment).
I succeeded to build branch-22.06 with one change of cmake version from 3.20.5 to 3.23.1 [here](https://github.com/NVIDIA/spark-rapids-examples/blob/branch-22.06/examp

[2022-10-14 12:58] GaryShen2008 commented on #233
@GMYL  Can you try to use Dockerfile to build?
Just follow up the instructions [here](https://github.com/NVIDIA/spark-rapids-examples/tree/branch-22.10/examples/UDF-Examples/RAPIDS-accelerated-UDFs#creating-a-libcudf-build-environment).
If you build branch-22.06, you need to upgrade the cmake version to 3.23.1 at least in the Dockerfile.

[2022-10-18 02:42] GMYL commented on #233
@GaryShen2008
Can you take a look at your target directory structure after a successful build?

[2022-10-18 05:38] GaryShen2008 commented on #233
root@babba52ba9fc:/spark-rapids-examples/examples/UDF-Examples/RAPIDS-accelerated-UDFs/target# ll
total 640
drwxr-xr-x 10 root root   4096 Oct 14 14:33 ./
drwxr-xr-x  4 root root   4096 Oct 14 12:54 ../
drwxr-xr-x  2 root root   4096 Oct 14 12:54 antrun/
drwxr-xr-x  4 root root   4096 Oct 14 14:33 classes/
drwxr-xr-x 11 root root   4096 Oct 14 14:28 cpp-build/
drwxr-xr-x  2 root root   4096 Oct 14

[2022-10-18 07:18] nvliyuan commented on #233
the error "Unknown CMake command "CPMFindPackage" seems that the CMakeLists.txt cannot include the related rapids-makefiles such as:
[code]
since you update the https://raw.githubusercontent.com/rapidsai/rapids-cmake/branch-22.10/RAPIDS.cmake
to https://raw.githubusercontent.com/rapidsai/rapids-cmake/branch-22.06/RAPIDS.cmake in the CMakeLists.txt which is out of date, could you try the latest bra

[2022-10-18 10:07] nvliyuan commented on #233
the correct output log should be :
[code]

[2022-10-19 07:41] GMYL commented on #233
@GaryShen2008 @nvliyuan
Thanks for your help. It has been compiled successfully. The main problem is my server network problem. Some dependencies cannot be downloaded normally during the compilation process.

But a new problem arises when running jar:
Caused by: java.lang.RuntimeException: java.io.FileNotFoundException: Could not locate native dependency amd64/Linux/libudfexamplesjni.so

Use spark

[2022-10-19 09:13] GMYL commented on #233
Solved

[2022-10-19 09:14] #233 closed

[2022-10-28 06:37] nvliyuan opened #238 "cuspatial udf demo run failed in CICD job"
the cuspatial udf demo failed in CICD job with error:
[code]
because the cudf::reduce API updated in v22.12: https://github.com/rapidsai/cudf/commit/9c06330363db4da99803a3728b8bf44f9829f0b9#diff-af15b21dd3cd504cecf98c6ceb1ac3a8de94b0bbb0f1468434aca9cdde1deecf

[2022-10-31 09:41] nvliyuan opened #240 "we can improve the performance for xgboost transformation part on GPU"
we can improve the performance for xgboost transformation part on GPU,
I test mortgage xgboost notebooks in the internal cluster and find the transformation part is much slower(8 times) than CPU, will update the xgboost jars to 1.7.0rc1 and update the codes to verify the lastest result, just file an issue to track

[2022-10-31 15:50] YuanLinNV commented on #240
@nvliyuan , maybe you want to assign this ticket to someone else?

[2022-11-03 07:08] nvliyuan opened #241 "since dmlc xgboost 1.7.0 released, we need to update the codes/docs/notebooks"
since dmlc xgboost 1.7.0 released, we need to:
1. update the codes
2. add the python notebooks
3. update the docs

[2022-11-04 05:35] nvliyuan commented on #241
we need to
1.remove spark.rapids.sql.csv.read.double.enabled in doc since it is true by default;
2.remove the deprecated conf spark.rapids.sql.hasNans

[2022-11-08 03:48] NvTimLiu opened #242 "dmlc/XGBoost train failed on NGC cluster, failed to set "tracker_conf""
**Describe the bug**
FAILED to xgboost config `-rabitTrackerHost=127.0.0.1 ` on NGC cluster due to https://github.com/NVIDIA/spark-rapids-examples/blob/main/examples/XGBoost-Examples/utility/scala/src/com/nvidia/spark/examples/utility/XGBoostArgs.scala#L67

Can get `rabit_tracker_host -> 127.0.0.1` and train PASS if remove [#L67]( https://github.com/NVIDIA/spark-rapids-examples/blob/main/examples/

[2022-11-08 09:35] NvTimLiu commented on #242
verified https://github.com/NVIDIA/spark-rapids-examples/pull/243 on NGC, close

[2022-11-08 09:35] #242 closed

[2022-11-14 01:26] nvliyuan opened #244 "AWS getting started doc is out of date"
we need to update AWS getting started doc to request users to download Fannie Mae dataset.

[2022-11-18 02:34] nvliyuan opened #250 "we need to update doc if spark-rapids support arm CPU architecture"
since we support CPU arm arch from v22.12, we need to update docs(maybe some scripts like [makefile](https://github.com/NVIDIA/spark-rapids-examples/blob/main/examples/UDF-Examples/Spark-cuSpatial/src/main/native/CMakeLists.txt)). see #247

[2022-11-25 14:47] NvTimLiu opened #255 "Data path checking logical problem of XGBoost-PySpark agaricus examples"
**Describe the bug**

https://github.com/NVIDIA/spark-rapids-examples/blob/branch-22.12/examples/XGBoost-Examples/agaricus/python/com/nvidia/spark/examples/agaricus/main.py#L61

[code]

https://github.com/NVIDIA/spark-rapids-examples/blob/branch-22.12/examples/XGBoost-Examples/agaricus/python/com/nvidia/spark/examples/agaricus/main.py#L61

[code]

[2022-11-29 23:08] wbo4958 commented on #255
Thx @NvTimLiu, do you know where can I  get the agaricus dataset?

[2022-11-30 06:25] NvTimLiu commented on #255
We also have XGBoost datasets on SwiftStack s3 bucket, which I already shared with Bobby offline.

[2022-11-30 07:20] nvliyuan commented on #255
since #256 merged, closed this issue

[2022-11-30 07:20] #255 closed